@page "/"
@using ScoundrelCore.Data;
@using ScoundrelCore.Engine.Contract;
@using ScoundrelHybrid.Shared.Services
@inject IFormFactor FormFactor
@inject IGameEngine GameEngine

<PageTitle>Scoundrel</PageTitle>

<h1>Scoundrel</h1>


<div class="btn btn-outline-info" @onclick="GameEngine.StartGame">Start Game</div>

<p>@GameEngine.GameState</p>

<div class="d-flex justify-content-center flex-wrap">
    @foreach (Card card in GameEngine.Room)
    {
        <ScoundrelHybrid.Shared.Components.Card CardData="@card" />
    }

</div>

<hr />

<div class="d-flex justify-content-center flex-wrap">
    @if (GameEngine.Player.Weapon != null)
    {
        <ScoundrelHybrid.Shared.Components.Card CardData="@GameEngine.Player.Weapon" IsWeapon="true" />
    }
    else
    {
        <div class="custom-card rounded bg-light m-1 fw-bold text-center align-content-center">No weapon</div>
    }
    <div class="custom-card rounded m-1"></div>
    <div class="custom-card rounded m-1"></div>
    @if (GameEngine.Player.Weapon != null)
    {
        <ScoundrelHybrid.Shared.Components.Card CardData="@GameEngine.Player.PreviousMonsterForWeapon"/>
    }
    else
    {
        <div class="custom-card rounded bg-light m-1 fw-bold text-center align-content-center">No previous ennemy killed by weapon</div>
    }
</div>
Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.
